:host {
  display: block;
  font-size: 12px;
  color: #999;
}

::slotted(a) {
  display: block;
  margin: 10px 0;
  user-select: none;
  text-decoration: none;
  color: #999;
}

::slotted(a:hover) {
  color: #666;
}

::slotted(header) {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #222;
  font-size: 13px;
}

::slotted(a.kiul_active) {
  position: relative;
  color: #222;
}

::slotted(a.kiul_active):before {
  display: block;
  position: absolute;
  left: -10px;
  top: 3px;
  width: 2px;
  height: calc(100% - 6px);
  content: "";
  background-color: #2191f2;
}