ki-ul {
  display: block;
  font-size: 12px;
  color: #999;
}
ki-ul > h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  color: #222;
  text-transform: none;
}
ki-ul > a {
  display: block;
  margin: 10px 0;
  user-select: none;
  text-decoration: none;
  color: #999;
}
ki-ul > a:hover {
  color: #666;
}
ki-ul > header {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #222;
  font-size: 13px;
}
ki-ul > header > * {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #222;
}
ki-ul > .kiul_active {
  position: relative;
  color: #222;
}
ki-ul > .kiul_active:hover {
  color: #222;
  cursor: default;
}
ki-ul > .kiul_active:before {
  display: block;
  position: absolute;
  left: -10px;
  top: 3px;
  width: 2px;
  height: calc(100% - 6px);
  content: "";
  background-color: #2191f2;
}
