xd-app {
    display: block;
    position: relative;
    overflow: hidden;
}

xd-app {
    display: block;
}

xd-app>xd-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

[xd-page-anime] {
    transition: all ease .3s;
}

[xd-page-anime="back"] {
    transform: translate3d(-100%, 0, 0);
}

[xd-page-anime="front"] {
    transform: translate3d(100%, 0, 0);
}

[xd-page-anime="active"] {}