xd-app {
    display: block;
    position: relative;
    overflow: hidden;
}

xd-app {
    display: block;
}

xd-app>xd-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}