.main_con {
    display: flex;
    align-content: center;
    font-size: 12px;
    color: rgb(46, 46, 46);
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    background-color: rgba(0, 0, 0, .04);
}

.avatar img {
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.content {
    margin-left: 10px;
    flex: 1;
    display: flex;
    align-items: center;
}