ki-nav {
  display: flex;
  height: 60px;
  background-color: #2191f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ki-nav a {
  position: relative;
  display: flex;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  opacity: .75;
}
ki-nav a:after {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all ease .3s;
  content: "";
}
ki-nav a.ki_nav_active {
  opacity: 1;
  cursor: default;
}
ki-nav a:hover {
  opacity: 1;
}
ki-nav a:hover:after {
  left: 0;
  width: 100%;
}
ki-nav img[slot="logo"] {
  margin-left: 36px;
  display: block;
  width: auto;
  height: 20px;
}
