o-app {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

o-app>o-page {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: none;
}

o-page[o-loading="1"]:before {
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(../img/loading.svg);
    background-size: 36px 36px;
    animation: loading_icon_anime linear 1s infinite;
}

@keyframes loading_icon_anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

[o-page-anime] {
    display: flex;
    transition: all ease .3s;
}

[o-page-anime="back"] {
    opacity: 0;
    transform: translate3d(-70%, 0, 0);
    pointer-events: none;
}

[o-page-anime="front"] {
    transform: translate3d(100%, 0, 0);
    pointer-events: none;
}

/* @media screen and (min-width: 480px) {
    [o-page-anime="back"] {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
        z-index: 1;
    }

    [o-page-anime="front"] {
        opacity: 0;
        transform: translate3d(10%, 0, 0);
        z-index: 1;
    }
} */

[o-page-anime="active"] {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}